#contenu {
  text-align: center;
  position: relative;
  margin-left: 200px;
}


#titreSaisieFrais {
  display: block;
  margin: auto;
  position: relative;
  left: 650px;
}

#dateSaisieFrais{
  display: block;
  margin: auto;
  text-align: center;
  position: relative;
  left: 80%;
}

#listeFraisHorsForfait{
  display: block;
  margin: auto;
  text-align: center;
  position: relative;
  left: 80%;
}

@media screen and (max-width: 376px) {
  #role {
    left: 60px;
    width: 84%;
  }
}

