#contenu {
  text-align: center;
  position: relative;
  display: inline-block;
  margin-left: 650px;

}


#listeFraisHorsForfait{
  
  margin: auto;
  text-align: center;
  position: relative;
  left: 80%;
}


#contenu2{
 
  text-align: center;
  margin-left: 0px;
}

